<%= form_with(model: @property, local: true) do |form| %>

  <% if @property.errors.any? %>
    <div class="error_explanation">
      <h2><%= @property.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :物件名 %><br>
  <%= form.text_field :name %><br>

  <%= form.label :賃料 %><br>
  <%= form.text_field :rent %>円<br>

  <%= form.label :住所 %><br>
  <%= form.text_field :address %><br>

  <%= form.label :築年数 %><br>
  <%= form.text_field :year %>年<br>

  <%= form.label :備考 %><br>
  <%= form.text_field :content %><br>

  <%= form.fields_for :nearest_stations do |nearest_station| %>
    <h2>最寄り駅<%= nearest_station.index + 1 %></h2>
    <div class="field">
      <%= nearest_station.label :train_line, "路線名" %><br>
      <%= nearest_station.text_field :train_line %><br>
    </div>

    <div class="field">
      <%= nearest_station.label :station_name, "駅名" %><br>
      <%= nearest_station.text_field :station_name %><br>
    </div>

    <div class="field">
      <%= nearest_station.label :on_foot, "徒歩分数" %><br>
      <%= nearest_station.text_field :on_foot %>分<br>
    </div>
  <% end %>
    <br>

    <%= form.submit "登録する" %><br>
    <%= link_to '戻る', properties_path %>


<% end %>
