<%= form_with(model: @property, local: true) do |form| %>

  <h1>物件登録</h1>

  <%= form.label :名前 %>
  <%= form.text_field :name %>

  <%= form.label :賃料 %>
  <%= form.text_field :rent %>

  <%= form.label :住所 %>
  <%= form.text_field :address %>

  <%= form.label :築年数 %>
  <%= form.text_field :year %>

  <%= form.label :備考 %>
  <%= form.text_field :content %>

  <%= form.submit "登録する" %>

<% end %>
