<%= form_with(model: @property, local: true) do |form| %>

  <p><strong>物件名:</strong><%= @property.name %></p>

  <p><strong>賃料:</strong><%= @property.rent %>円</p>

  <p><strong>住所:</strong><%= @property.address %></p>

  <p><strong>築年数:</strong><%= @property.year %>年</p>

  <p><strong>備考:</strong><%= @property.content %></p><br>

  <hr>
  
  <% if @property.nearest_stations.any? %>
  <% n = 0 %>
  <% @nearest_stations.each do |nearest_station| %>

    <h3><strong>最寄り駅<%= n += 1 %></strong></h3>

    <p><strong>路線名 </strong><%= nearest_station.train_line %></p>

    <p><strong>駅名 </strong><%= nearest_station.station_name %></p>

    <p><strong>徒歩分数 </strong><%= nearest_station.on_foot %>分</p>

  <% end %>
  <% end %>

  <%= link_to '編集', edit_property_path(@property.id) %> |
  <%= link_to '戻る', properties_path %>

<% end %>
